@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Rubik+Glitch&family=Rubik+Microbe&family=Rubik+Wet+Paint&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #ffffff;
}

body{
	background-image: url(bg-gaming.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}

h1{
	text-align: center;
	background: #99ccff;
	font-family: 'Rubik Microbe', cursive;
	font-size: 4vw;
	
}


#nav_link ul{
	text-align: right;
}

#nav_link ul li{
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	
	
	
}

#nav_link ul li a{
	text-decoration: none;
	color: #FF0000;
	font-family: OpenSans,sans-serif,arial;
	letter-spacing: -1px;
	font-size: 20px;
	font-weight: bold;

}


a::after{
	content: '';
	height: 2px;
	width: 0%;
	display: block;
	background-color: black;
	transition: .5s ease-in-out;
}
a:hover::after{
	content: '';
	height: 2px;
	width: 100%;
	display: block;
	background-color: black;
}

img{
	width: 100%;
	margin-top: -8px;
	box-sizing: border-box;
	margin-bottom: -100px;
}
